{%extends 'Base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {%block content%}
    <div class="col-4 offset-3">
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{Register_form}}
        {{UserProfile_form}}
        <br>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
    </div>
    {%endblock content%}
</body>
</html>