
{%extends 'Base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Info</title>
</head>
<body>
    {%block content%}
    <div class="col-4 offset-3">
        <br>
    <div class="card">
        <div class="card-header">
            <h1>Ticket Info</h1>
        </div>
        <div class="card-body">
            {% if taskinfos.TASK_STATUS == 'Open' %}
            <strong>Ticket ID: </strong>{{taskinfos.id}}<br>
            <strong>Ticket Title: </strong>{{taskinfos.TASK_TITLE}}<br>
            <strong>Concerned Department: </strong>{{taskinfos.TASK_DEPARTMENT}}<br>
            <strong>Ticket Created By: </strong>{{taskinfos.TASK_CREATED}}<br>
            <strong>Ticket Created On: </strong>{{taskinfos.TASK_CREATED_ON}}<br>
            <strong>Ticket Due Date: </strong>{{taskinfos.TASK_DUE_DATE}}<br>
            <strong>Ticket Reward: </strong>{{taskinfos.TASK_REWARD}}<br>
            <strong>Ticket Status: </strong>{{taskinfos.TASK_STATUS}}<br>
            <strong>Ticket Description: </strong>{{taskinfos.TASK_DESCRIPTION}}<br>
            <br>
            {% elif taskinfos.TASK_STATUS == 'Closed' %}
            <strong>Ticket ID: </strong>{{taskinfos.id}}<br>
            <strong>Ticket Title: </strong>{{taskinfos.TASK_TITLE}}<br>
            <strong>Concerned Department: </strong>{{taskinfos.TASK_DEPARTMENT}}<br>
            <strong>Ticket Created By: </strong>{{taskinfos.TASK_CREATED}}<br>
            <strong>Ticket Created On: </strong>{{taskinfos.TASK_CREATED_ON}}<br>
            <strong>Ticket Due Date: </strong>{{taskinfos.TASK_DUE_DATE}}<br>
            <strong>Ticket Reward: </strong>{{taskinfos.TASK_REWARD}}<br>
            <strong>Ticket Status: </strong>{{taskinfos.TASK_STATUS}}<br>
            <strong>Ticket Description: </strong>{{taskinfos.TASK_DESCRIPTION}}<br>
            <strong>Ticket Closed By: </strong>{{taskinfos.TASK_CLOSED}}<br>
            <strong>Ticket Closed On: </strong>{{taskinfos.TASK_CLOSED_ON}}<br>
            <br>
            {% elif taskinfos.TASK_STATUS == 'In-process' %}
            <strong>Ticket ID: </strong>{{taskinfos.id}}<br>
            <strong>Ticket Title: </strong>{{taskinfos.TASK_TITLE}}<br>
            <strong>Concerned Department: </strong>{{taskinfos.TASK_DEPARTMENT}}<br>
            <strong>Ticket Created By: </strong>{{taskinfos.TASK_CREATED}}<br>
            <strong>Ticket Created On: </strong>{{taskinfos.TASK_CREATED_ON}}<br>
            <strong>Ticket Due Date: </strong>{{taskinfos.TASK_DUE_DATE}}<br>
            <strong>Ticket Reward: </strong>{{taskinfos.TASK_REWARD}}<br>
            <strong>Ticket Status: </strong>{{taskinfos.TASK_STATUS}}<br>
            <strong>Ticket Description: </strong>{{taskinfos.TASK_DESCRIPTION}}<br>
            <strong>Ticket Assigned to: </strong>{{taskinfos.TASK_HOLDER}}<br>
            <br>
            {% elif taskinfos.TASK_STATUS == 'Reopened' %}
            <strong>Ticket ID: </strong>{{taskinfos.id}}<br>
            <strong>Ticket Title: </strong>{{taskinfos.TASK_TITLE}}<br>
            <strong>Concerned Department: </strong>{{taskinfos.TASK_DEPARTMENT}}<br>
            <strong>Ticket Created By: </strong>{{taskinfos.TASK_CREATED}}<br>
            <strong>Ticket Created On: </strong>{{taskinfos.TASK_CREATED_ON}}<br>
            <strong>Ticket Due Date: </strong>{{taskinfos.TASK_DUE_DATE}}<br>
            <strong>Ticket Reward: </strong>{{taskinfos.TASK_REWARD}}<br>
            <strong>Ticket Status: </strong>{{taskinfos.TASK_STATUS}}<br>
            <strong>Ticket Description: </strong>{{taskinfos.TASK_DESCRIPTION}}<br>
            <br>
            {% elif taskinfos.TASK_STATUS == 'Resolved' %}
            <strong>Ticket ID: </strong>{{taskinfos.id}}<br>
            <strong>Ticket Title: </strong>{{taskinfos.TASK_TITLE}}<br>
            <strong>Concerned Department: </strong>{{taskinfos.TASK_DEPARTMENT}}<br>
            <strong>Ticket Created By: </strong>{{taskinfos.TASK_CREATED}}<br>
            <strong>Ticket Created On: </strong>{{taskinfos.TASK_CREATED_ON}}<br>
            <strong>Ticket Due Date: </strong>{{taskinfos.TASK_DUE_DATE}}<br>
            <strong>Ticket Reward: </strong>{{taskinfos.TASK_REWARD}}<br>
            <strong>Ticket Status: </strong>{{taskinfos.TASK_STATUS}}<br>
            <strong>Ticket Description: </strong>{{taskinfos.TASK_DESCRIPTION}}<br>
            <br>
            {% endif %}
            </div>
        <div class="card-footer text-body-secondary">
            {% if taskinfos.TASK_STATUS == 'Open' and taskinfos.TASK_CREATED == request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_update' taskinfos.id%}" class="btn btn-warning">Edit Info</a>
            <a href="{% url 'task_delete' taskinfos.id%}" class="btn btn-danger">Delete</a>
            {% elif taskinfos.TASK_STATUS == 'In-process' and taskinfos.TASK_CREATED == request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_update' taskinfos.id%}" class="btn btn-warning">Edit Info</a>
            <a href="{% url 'task_delete' taskinfos.id%}" class="btn btn-danger">Delete</a>
            {% elif taskinfos.TASK_STATUS == 'In-process' and taskinfos.TASK_CREATED != request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            {% elif taskinfos.TASK_STATUS == 'Closed' and taskinfos.TASK_CREATED != request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            {% elif taskinfos.TASK_STATUS == 'Closed' and taskinfos.TASK_CREATED == request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_resolved' taskinfos.id%}" class="btn btn-warning">Resolved</a>
            <a href="{% url 'task_reopen' taskinfos.id%}" class="btn btn-danger">Reopen</a>
            {%elif taskinfos.TASK_STATUS == 'Reopened' and taskinfos.TASK_CREATED == request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_update' taskinfos.id%}" class="btn btn-warning">Edit Info</a>
            <a href="{% url 'task_delete' taskinfos.id%}" class="btn btn-danger">Delete</a>
            {%elif taskinfos.TASK_STATUS == 'Resolved' and taskinfos.TASK_CREATED == request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_update' taskinfos.id%}" class="btn btn-warning">Edit Info</a>
            <a href="{% url 'task_delete' taskinfos.id%}" class="btn btn-danger">Delete</a>
            {%elif taskinfos.TASK_STATUS == 'Resolved' and taskinfos.TASK_CREATED != request.user %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            {% else %}
            <a href="{% url 'base' %}" class="btn btn-primary">Go back</a>
            <a href="{% url 'task_accept' taskinfos.id%}" class="btn btn-success">Accept</a>
            {% endif %}
        </div>
    </div>
    {%endblock content%}
</body>
</html>
